.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!**/*.d.ts
node_modules/**
!node_modules/basic-ftp/**
!node_modules/ssh2/**
!node_modules/minimatch/**
!node_modules/ignore/**
!node_modules/@vscode/codicons/**
webpack.config.js
.git/**
.github/**
resources/icon-source/**
